.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 91px; }
  @media screen and (max-device-width: 767px) {
    .results-container {
      margin-top: 0; } }
