.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-top: 91px;
}

@media screen and (max-device-width: 767px) {
  .results-container {
    margin-top: 0;
  }
}